.input-group {
  margin: 0 0 $m-size;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin: 0 0 $l-size;
  }
}

.input-group__item {
  font-size: $m-size;
  line-height: 1;
  margin-bottom: $s-size;
  padding: 0 $s-size 0 0;

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: 0;

    input {
      width: 90%
    }
  }

  textarea {
    min-width: 50%;
    max-width: 90%;
    min-height: 10rem;

  }

  .status-err {
    padding: 2rem;
    background-color: transparentize($color: #ff0000, $amount: 0.9);
    width: fit-content;
    border-radius: 1rem;
  }
}

.input-group__hint-container {
  min-width: fit-content;
  padding-top: $sl-size;
}

.input-group__hint {
  display: inline;
  font-size: $m-size;
  font-weight: 700;
  line-height: 1;
  vertical-align: middle;
}