// Colors
$dark-grey: #333;
$light-blue: #007dbd;
$dark-blue: #194257;
$light-grey: rgb(179, 179, 179);
// Sizes
$xs-size: 0.5rem;
$s-size: 1rem;
$sl-size: 1.5rem;
$m-size: 1.8rem;
$l-size: 3rem;
$xl-size: 3.2rem;
$desktop-breakpoint: 60rem;